.user-deets {
  text-align: left;
  font-family: sans-serif;
  padding-left: 100px;
  padding-bottom: 50px;
}

.user-deets img {
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 20px;
  width: 200px;
}

.header {
  font-size: 60px;
  color: #40a8f3;
  margin-bottom: 25px;
}

.title {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}

.info {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.user-deets a {
  font-size: 30px;
  color: #40a8f3;
}
