body {
  height: 100%;
  width: 100%;
  background-color: #cc0000;
}

.cards {
  display: inline-block;
  margin: 20px;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: linear-gradient(110deg, #ffcb05 0%, #3d7dca 100%);
  box-shadow: 0px 5px 20px -10px #003a70;
}

.pokemonImage {
  background-color: #003a70;
  box-shadow: 0px 5px 20px -10px #003a70;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.pokemonName {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 3px 3px;
  height: 30px;
  line-height: 30px;
}

.pokemonNumber {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: black;
  background-color: #ffcb05;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  display: block;
  width: 50px;
  margin-left: 230px;
  margin-top: -45px;
}
